@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #0A4D08;
    font-family: "Lato", sans-serif;
    color: white;
}

header {
    background-color: #024108;
}

.h-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 1000px;
    margin: auto;
} 

.h-title, .m-title {
    font-family: "Lalezar", system-ui;
}

.h-nav {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 32px;
}

.h-nav-i {
    position: relative;
    text-decoration: none;
    color: #F4C31F;
}

.h-nav-i:after {
    content: "";
    position: absolute;
    background-color: #cea41b;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.h-nav-i:hover:after {
    width: 100%;
}

#map {
    height: 500px;
    width: 100%;
}

main {
    width: 800px;
    margin: 50px auto;
}

.m-title {
    text-align: center;
}

.m-container {
    width: 800px;
    margin: 50px auto;
}

.m-container-p {
    font-family: "Lalezar", system-ui;
    font-size: 20px;
    text-align: center;
}

.m-container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    justify-content: center;
}

.m-container-section-p {
    text-align: left;
}

.filters-buttons {
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.filters-buttons button {
    padding: 10px;
    background-color: #F4C31F;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.filters-buttons button:hover {
    transition: 0.3s;
    background-color: #d5aa1a;
}

.m-p-error {
    width: 100%;
    margin: 40px 0px;
    text-align: center;
}

.m-p-error a {
    text-decoration: none;
    color: #F4C31F;
    transition: 0.3s;
}

.m-p-error a:hover {
    text-decoration: underline;
    color: #ffffff;
    transition: 0.3s;
}

footer {
    background-color: #024108;
}

.f-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 1000px;
    margin: auto;
}

.f-div img {
    width: 400px;
}

.f-nav {
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-nav-social {
    display: flex;
    gap: 14px;
}

.f-nav-social img {
    width: 30px;
    height: 30px;
    transition: transform 0.5s, filter 0.5s;
}

.f-nav-social a:hover img#f-nav-social-instagram {
    transform: scale(1.1);
    content: url(../assets/icons/Instagram-yellow.png); 
}

.f-nav-social a:hover img#f-nav-social-facebook {
    transform: scale(1.1);
    content: url(../assets/icons/Facebook-yellow.png); 
}

.f-nav-link {
    text-align: center;
    margin-top: 10px;
    color: #F4C31F;
}